= search_form_for @q ,locals: {}, url: search_idea_path(@theme) do |f|
  = f.search_field :name_cont, class: 'serch-form', placeholder: "アイデア検索(部分一致)"
  = f.submit '検索', class: 'btn btn-outline-primary'