= turbo_stream.replace "child_box_#{@parent.id}", partial: "child_form", locals: { child_form: @parent }
= turbo_stream.update "dot_position", partial: "tree"
= turbo_stream.replace "idea_line_#{@parent.id}", partial: "child_idea_lines", locals: { child_idea_lines: @parent }