
= turbo_stream.update "dot_position", partial: "all_ideas_list"

= turbo_stream.update "add_child_box_position", partial: "child_form", collection: @children_ideas

= turbo_stream.update "parentIdea_box_position", partial: "parent_box", locals: { parent_box: @parent }