= link_to generate_graph_ideas_path, target: '_blank' do
  = image_tag generate_graph_ideas_path, alt: 'Graph Image', width: '100%', height: 'auto', style: 'display:block; margin: 0 auto;'


= render partial: 'generate_graph_partial'

= render partial: 'search', q: @q