@import "bootstrap";

#chart-1 {
  font-size: 30px;
}

#tree_box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 30%;
  max-height: 80%;
  width: auto;

  .idea_tree {
    border: 2px solid #65e086;
    border-radius: 10px;
    padding: 15px;
  }
}

textarea {
  background-image: repeating-linear-gradient(
    #fff,
    #fff calc(1.5rem - 1px),
    #dadada calc(1.5rem - 1px),
    #dadada 1.5rem,
    #fff 1.5rem
  );
  background-origin: content-box;
  background-clip: content-box;
  background-attachment: local;
}

h1 {
  font-size: 30px;
  display: inline-block;
  border-bottom: dashed 2px #65e086;
}

//子アイデアの個別の見出し
.child_idea_title {
  padding: 0.25em 0.5em; /*上下 左右の余白*/
  background: transparent; /*背景透明に*/
  border-left: solid 5px #0419ffc2; /*左線*/
}

/* アイデア入力欄 */
.idea_form textarea {
  width: 20%;
}

.solution-easy-points span {
  display: inline-block;
  vertical-align: bottom;
}

.solution-name {
  font-size: 24px;
}

.parent-name {
  font-size: 14px;
}
label.label {
  padding-right: 10px;
}

.ransack_search_form {
  height: 30px;
}

.span-child-edit {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.header_manu {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.header_manu > * {
  margin-right: 10px;
}

/* 子アイデアの数を表示する丸バッジ */
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: #fff; /* バッジの文字色 */
  margin-left: 5px; /* バッジとテキストの間のマージン */
}

.navbar {
  border-bottom: solid 1.5px rgb(0, 123, 255);
  margin-bottom: 10px;

  ul.navber-li {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 0 0 auto; // 右寄せ

    li {
      margin-right: 30px; // リンク間のスペースを調整
    }
  }
}
