@import "bootstrap";

.navbar {
  border-bottom: solid 1.5px rgb(0, 123, 255);
  margin-bottom: 10px;
  padding: 0.5rem 1.5rem;

  ul.navber-li {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 0 0 auto; // 右寄せ

    li {
      margin-right: 30px; // リンク間のスペースを調整
    }
  }
}

#chart-1 {
  font-size: 30px;
}

//

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.body__container {
  /* 方眼紙模様 */
  background-image: linear-gradient(
      0deg,
      transparent calc(100% - 1px),
      #def6ff calc(100% - 1px)
    ),
    linear-gradient(
      90deg,
      transparent calc(100% - 1px),
      #def6ff calc(100% - 1px)
    );
  background-size: 16px 16px;
  background-repeat: repeat;
  background-position: center center;

  padding: 1rem 1.5rem;
}

// 子アイデア削除ボタン
.fa-square-xmark {
  color: rgb(194, 18, 18);
}

.fa-file-circle-plus {
  color: #00b3ea;
  vertical-align: 0.5px;
}

//アイデアツリー　一覧表示
#tree_box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 30%;
  max-height: 80%;
  width: auto;

  .idea_tree {
    border: 2px solid #65e086;
    border-radius: 10px;
    padding: 15px;
  }
}

textarea {
  background-image: repeating-linear-gradient(
    #fff,
    #fff calc(1.5rem - 1px),
    #dadada calc(1.5rem - 1px),
    #dadada 1.5rem,
    #fff 1.5rem
  );
  background-origin: content-box;
  background-clip: content-box;
  background-attachment: local;
}

h1 {
  font-size: 30px;
  display: inline-block;
  border-bottom: dashed 2px #65e086;
}

.parentIdea_container {
  display: block;
  width: fit-content;
  height: fit-content;
  margin: 0 0 24px 0;
}

.parentIdea_box {
  background-color: #cfffbe;
  width: fit-content;
  height: fit-content;
  padding: 16px;
  margin: 8px 0;
}

.parent_create_button {
  position: absolute;
  top: -45px;
  left: 423px;
}

//個別の小アイデアの大枠
.children_idea_box {
  background-color: #feffcc;
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 16px;
  margin: 8px 0;
  border-radius: 8px;
}

.children_idea_box:after {
}

//　子アイデアの個別の見出し
.child_idea_title {
  padding: 0.5em 0.5em; /*上下 左右の余白*/
  border-left: solid 4.5px #65e086; /*左線*/
}

.name_and_icons {
  // 親アイデアタイトルの左バーと少し離す
  padding: 0 0 0 8px;
}

.span_icons {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/* アイデア入力欄 */
.idea_form {
  position: relative;
  margin: 40px 0 0 0;
}

.idea_form textarea {
  width: 480px;
}

.text_area_wrapper {
}

.create_buttons {
  position: absolute;
  top: -45px;
  right: 0;
}

.solution-easy-points span {
  display: inline-block;
  vertical-align: bottom;
}

.solution-name {
  font-size: 24px;
}

.parent-name {
  font-size: 14px;
}
label.label {
  padding-right: 10px;
}

.ransack_search_form {
  height: 30px;
}

.header_manu {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.header_manu > * {
  margin-right: 10px;
}

.graph_container {
  background-color: #ffffff;
  padding: 16 16;
}
