@import "bootstrap";
@import "font-awesome";

#chart-1 {
  font-size: 30px;
}

.solution-easy-points span {
  display: inline-block;
  vertical-align: bottom;
}

.solution-name {
  font-size: 24px;
}

.parent-name {
  font-size: 14px;
}
label.label {
  padding-right: 10px;
}

.ransack_search_form {
  height: 30px;
}

.span-child-edit {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.serch-form {
}

.header_manu {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.header_manu > * {
  margin-right: 10px;
}
