@import "bootstrap";

#chart-1 {
  font-size: 30px;
}

.solution-easy-points span {
  display: inline-block;
  vertical-align: bottom;
}

.solution-name {
  font-size: 24px;
}

.parent-name {
  font-size: 14px;
}
label.label {
  padding-right: 10px;
}

.ransack_search_form {
  height: 30px; /* 適切な高さに調整してください */
}
