@import "bootstrap";

.navbar {
  border-bottom: solid 1.5px rgb(0, 123, 255);
  margin-bottom: 10px;
  padding: 0.5rem 1.5rem;

  ul.navber-li {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 0 0 auto; // 右寄せ

    li {
      margin-right: 30px; // リンク間のスペースを調整
    }
  }
}

#chart-1 {
  font-size: 30px;
}

//

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.body__container {
  /* 方眼紙模様 */
  background-image: linear-gradient(
      0deg,
      transparent calc(100% - 1px),
      #def6ff calc(100% - 1px)
    ),
    linear-gradient(
      90deg,
      transparent calc(100% - 1px),
      #def6ff calc(100% - 1px)
    );
  background-size: 16px 16px;
  background-repeat: repeat;
  background-position: center center;

  padding: 1rem 1.5rem;
  min-height: 100vh;
}

// 子アイデア削除ボタン
.fa-square-xmark {
  color: rgb(194, 18, 18);
}

.fa-file-circle-plus {
  color: #00b3ea;
  vertical-align: 0.5px;
}

//アイデアツリー　一覧表示
#tree_box {
  position: fixed;
  background-color: #f9f9f9;
  bottom: 20px;
  right: 20px;
  max-width: 30%;
  max-height: 80%;
  width: auto;
  height: auto;
  border-radius: 8px;
  filter: drop-shadow(0px 0px 5px rgba(212, 212, 212, 0.6));

  .idea_tree {
    padding: 20px;
    margin-top: 10px;
  }
}

.treeShadow {
  position: relative;
}

div#dot_position #tree_box::before {
  position: absolute;
  content: "";
  width: 95%;
  height: 10px;
  top: 0.5em;
  left: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  border-top: dotted 8px #4e4e4e; /*ドットの形・大きさ・色*/
}

textarea {
  background-image: repeating-linear-gradient(
    #fff,
    #fff calc(1.5rem - 1px),
    #dadada calc(1.5rem - 1px),
    #dadada 1.5rem,
    #fff 1.5rem
  );
  background-origin: content-box;
  background-clip: content-box;
  background-attachment: local;
}

h2 {
  display: inline-block;
  border-bottom: dashed 2px #65e086;
}

h2.childBorder {
  display: inline-block;
  border-bottom: dashed 2px #fff200;
}

h1 {
  font-size: 30px;
  width: fit-content;
  position: relative;
  border-bottom: 4px solid rgb(0, 162, 100);
}

h1:before {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 20%;
  height: 4px;
  content: "";
  background: #65e086;
}

.parentIdea_container {
  display: block;
  width: fit-content;
  height: fit-content;
  margin: 0 0 32px 0;
}

.parentIdea_box {
  background-color: #cfffbe;
  width: fit-content;
  height: fit-content;
  padding: 16px;
  border-radius: 8px;
  margin: 8px 0;
  filter: drop-shadow(3px 3px 4px rgba(212, 212, 212, 0.6));
}

.parent_create_button {
  position: absolute;
  top: -45px;
  left: 423px;
}

//個別の子アイデアの大枠
.children_idea_box {
  background-color: #feffcc;

  width: fit-content;
  height: fit-content;
  padding: 16px; //OK
  margin: 8px 0;
  border-radius: 8px;
  filter: drop-shadow(3px 3px 4px rgba(212, 212, 212, 0.6));
}

//　子アイデアの個別の見出し
.child_idea_title {
  padding: 0.5em 0.5em; /*上下 左右の余白 OK */
  border-left: solid 4.5px #65e086; /*左線*/
}

.name_and_icons {
  // 親アイデアタイトルの左バーと少し離す OK
  margin-left: 8px;
}

.span_icons {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: auto;
}

/* アイデア入力欄 */
.idea_form {
  position: relative;
  margin: 40px 0 0 0;
}

.idea_form textarea {
  width: 480px;
}

.text_area_wrapper {
}

.create_buttons {
  position: absolute;
  top: -45px;
  left: 423px;
}

//評価ページ//

.solution-easy-points span {
  display: inline-block;
  vertical-align: bottom;
}

.solution-easy-points {
  text-decoration: none;
  padding: 0.2rem 0.5rem 1rem 0.5rem;
  background: #e7f8ff;
  border-left: solid 6px #5bb1fc;
  box-shadow: 0px 0px 15px -12px #777777;
}

.solution-effect-points {
  text-decoration: none;
  padding: 0.2rem 0.5rem 1rem 0.5rem;
  background: #e7fff3;
  border-left: solid 6px #65e086;
  box-shadow: 0px 0px 15px -12px #777777;
}

.solution-name {
  font-size: 24px;
}

.parent-name {
  font-size: 14px;
  padding-bottom: 7px;
}

label.label {
  padding-right: 10px;
  padding-top: 4px;
}

.ransack_search_form {
  height: 30px;
}

.header_manu {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.header_manu > * {
  margin-right: 10px;
}

.graph_container {
  background-color: #ffffff;
  padding: 40px 32px 40px 16px;
}

.topPage_container {
  text-align: center;
  margin-top: -8px;

  .topTitle {
    font-size: 48px;
    font-weight: 400;
    border-bottom: 4px solid #0085ff;
    width: fit-content;
    margin: 0 auto;
  }

  .subTitle {
    font-size: 28px;
    padding: 24 0 8 0;
    margin-top: 10px;
  }
  .top_buttons {
    justify-content: center;
    display: grid;
    grid-auto-flow: column;
    gap: 5rem; // ボタン間の間隔を設定
    z-index: 10;

    .signup_topButton,
    .login_topButoon {
      z-index: 10;
    }
  }
  .icons-top {
    margin-top: -24px;
    z-index: 0;
  }
}
